<div id="crossword_panel_list" class="tools_panel">
    <br/>
    <h1>Kreuzworträtsel</h1>
    <br/>
    <h4 id="crossword_desciption">Erstellen Sie ein neues Kreuzworträtsel</h4>
    <hr/>
    <div id="crossword_content_bag">
        <div id="crossword_content">
            <div class="tools_panel_content_entry disabled">
                <h4 id="ownCrosswords_headline">MEINE KREUZWORTRÄTSEL</h4>
                <div id="ownCrosswords"></div>
                <div class="clear"></div>
            </div>
            <div class="tools_panel_content_entry">
                <h4 id="create_own_crossword_btn">NEUES KREUZWORTRÄTSEL ERSTELLEN <div class="textIcon" id="create_own_crossword_btn_icon"><a>*</a></div></h4>
            </div>
            <div class="tools_panel_content_entry disabled">
                <h4 id="configure_crossword_btn">LISTE BEARBEITEN <div class="textIcon" id="configure_crossword_btn_icon"><a>©</a></div></h4>
                <h4 id="end_configure_crossword_btn" style="display: none;">FERTIG <div class="textIcon"><a>c</a></div></h4>
            </div>  
        </div>
    </div>
</div>
