<div id="imprintPage">
    <div style="width: 1024px; height: 768px; margin: auto; background-image: url(/Media/StartScreen/Index.jpg)">
        <div style="position: absolute; width: 1024px;">
            <div id="btnCloseImprintContent" style="left: 95% !important;" class="btnCloseContent btnContainer navigationItem btnCloseContent">
                <a id="A1">X</a>
            </div>
            <div style="margin-top: 50px; margin-left: 485px;">
                <div style="font-size: 32px">
                    Impressum</div>
                <div id="imprintContent">
                    <h3>
                        Autoren:</h3>
                    <p>
                        Sandra Evans<br />
                        Angela Pude<br />
                        Franz Specht<br />
                        Susanne Kalender<br />
                        <br />
                    </p>
                    <h3>
                        Konzeption, Gestaltung und Entwicklung:</h3>
                    <p>
                        Sieveking • Verlagsservice, München<br />
                        <a href="http://www.buerosieveking.de" target="_blank">www.buerosieveking.de</a><br />
                        <br />
                    </p>
                    <h3>
                        Software Programmierung:</h3>
                    <p>
                        CreateCtrl AG, München<br />
                        <a href="http://www.createctrl.com" target="_blank">www.createctrl.com</a><br />
                        <br />
                    </p>
                    <p>
                        Das Werk und seine Teile sind urheberrechtlich geschützt.
                        <br />
                        Jede Verwertung in anderen als den gesetzlich zugelassenen Fällen bedarf deshalb
                        der vorherigen schriftlichen Einwilligung des Verlags.
                        <br />
                        Hinweis zu § 52a UrhG: Weder das Werk noch seine Teile dürfen ohne eine solche Einwilligung
                        überspielt, gespeichert und in ein Netzwerk eingespielt werden. Dies gilt auch für
                        Intranets von Firmen und von Schulen und sonstigen Bildungseinrichtungen.
                        <br />
                    </p>
                    <p>
                        <br />
                        Version 1.0<br />
                        1. Auflage<br />
                        © 2014 Hueber Verlag, München, Deutschland, <a href="http://www.hueber.de"
                            target="_blank">http://www.hueber.de</a><br />
                        Printed in Germany<br />
                        ISBN 978-3-19-241901-0
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
