<div id="indexPage">
    <div style="width: 1024px; height: 768px; margin: auto; background-image: url(/Media/StartScreen/Index.jpg)">
        <div style="position: absolute;width: 1024px;">
            
            <div id="btnCloseIndexContent" style="left: 95% !important;" class="btnCloseContent btnContainer navigationItem btnCloseContent" >
                <a id="A1">X</a>
            </div>
            <div style="margin-top: 50px; margin-left: 485px;">
                <div style="font-size: 32px">
                    Inhalt</div>
                <table style="margin-top: 35px;" class="indexTable">
                   
                </table>
                <table id="indexPagination">
                    <tr >
                        <td id="btnPageBack">back</td>
                        <td id="btnPageForward">foward</td>
                    </tr>
                </table>
                <table id="tableIndexLinks">
                    <tr>
                        <td rowspan="2" id="btnDownloadConcept">Konzeption des <br />Lehrwerks (PDF)</td>
                        <td id="btnShowSupport" class="pl">Support</td>
                    </tr>
                    <tr>
                        <td id="btnShowLicense" class="pl">Lizenz</td>
                    </tr>
                    <tr>
                        <td colspan="2" id="btnShowImprint">Impressum</td>
                    </tr>
                    <tr>
                        <td colspan="2" id="btnShowSourceDirectory">Quellenverzeichnis</td>
                    </tr>
                    <tr>
                        <td style="text-decoration: none; cursor: default;" colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" id="btnShowIntroduction">Einführung starten</td>
                    </tr>
                    <tr>
                        <td colspan="2" id="btnDownloadHelp">Hilfeleitfaden (PDF)</td>
                    </tr>
                </table>
                
            </div>
        </div>
    </div>
</div>
