<div id="introduction" >
    <div style="width: 1024px; height: 768px; margin: auto;">
        <div id="btnIntroductionPrevious" class="btnIntroduction disabled" style="left: 5%;">
            <a class="btnIntroductionText" style="left: 10px;">zurück</a>
            <div style="float: right;  top: 1px !important; margin:4px; " class="btnContainer">
                <a style="color: white">2</a>
            </div>
        </div>
      
         <div id="btnIntroductionNext" class="btnIntroduction" style="right: 5%;">
            <a class="btnIntroductionText" style="right: 10px;">weiter</a>
            <div style="float: left;  top: 1px !important; margin:4px; " class="btnContainer">
                <a style="color: white">3</a>
            </div>
        </div>
        <img id="introductionImage" data-index="1" src="/Media/Introduction/Introduction_1.jpg" />
        
       <div id="btnIntroductionClose" >
           <div class="btnContainer">
               <a>|</a>
           </div>
          <div class="btnIntroductionText" >Einführung<br/>beenden</div>
        </div>
    </div>
</div>
