 
<div id="timeTable_panel">
    <div id="timeTable_content" style="margin-left: 18px;">
        <table>
            <tr>
                <td>
                    Bitte wählen:
                </td>
                <td style="padding-left: 180px;">
                    Lektion:
                </td>
                <td>
                    <select id="timeTable_select_firstlesson">
                    </select>
                </td>
                <td style="padding-left: 20px;">
                    Übung:
                </td>
                <td >
                    <select id="timeTable_select_firstexercise">
                        
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="imageElements_content">
    <div id="imageElements_content_table"></div>
    <div id="imageElements_content_table_row">
    </div>
</div>
