<div id="licensePage">
    <div style="width: 1024px; height: 768px; margin: auto; background-image: url(/Media/StartScreen/Index.jpg)">
        <div style="position: absolute; width: 1024px;">
            <div id="btnCloseLicenseContent" style="left: 95% !important;" class="btnCloseContent btnContainer navigationItem btnCloseContent">
                <a id="A1">X</a>
            </div>
            <div style="margin-top: 50px; margin-left: 485px;">
                <div style="font-size: 32px">
                    Endbenutzer Lizenzhinweis</div>
                <div id="licenseContent">
                    <p>
                        <strong>Lesen Sie die</strong> Vertragsbedingungen bitte sorgfältig durch, bevor
                        Sie die DVD-ROM auf Ihrem Computer installieren. Mit der Installierung erklären
                        Sie sich mit folgenden vertraglichen Bestimmungen einverstanden. Im anderen Fall
                        brechen Sie die Installation ab und senden das Produkt in der Originalverpackung
                        an uns zurück.</p>
                    <h3>
                        1. Lizenz</h3>
                    <p>
                        Die Texte, Abbildungen, Graphiken, Tondateien und Bewegtbilder dürfen vom Lizenznehmer
                        im Rahmen der Anwendung benutzt werden. Text und Bilder können innerhalb der Anwendung
                        bearbeitet, verändert und abgespeichert werden. Der Export und Ausdruck der selbst
                        erstellten Arbeitsblätter und Unterrichtspläne ist zulässig.
                    </p>
                    <p>
                        Die Texte, Bilder, Graphiken, Tondateien und Bewegtbilder dürfen weder entgeltlich
                        noch unentgeltlich einem Dritten zum Gebrauch überlassen werden.
                    </p>
                    <p>
                        Sie verpflichten sich, alle in diesem Vertrag nicht ausdrücklich genannten Nutzungszwecke
                        zu unterlassen.
                    </p>
                    <p>
                        Die Software, Texte, Bilder, Animationen, Audio- und Musiksequenzen und sämtliche
                        Rechte daran bleiben Eigentum der Hueber Verlags GmbH.
                    </p>
                    <p>
                        Die Software kann ohne weitere Benachrichtigung vom Lizenzgeber geändert werden.
                    </p>
                    <p>
                        Diese Lizenz gewährt Ihnen das einfache, nicht-ausschließliche, zeitlich nicht beschränkte
                        und persönliche Recht, die beiliegende Kopie der Software auf einem einzelnen Computer
                        (d.h. mit nur einer einzigen Zentraleinheit/CPU) und nur an einem einzigen Ort zu
                        nutzen. Falls Sie diese Software für mehrere Benutzer benutzen wollen, müssen Sie
                        mehrere einzelne Lizenzen erwerben.
                    </p>
                    <p>
                        Als privater Lizenznehmer dürfen Sie die Software in körperlicher Form (d.h. auf
                        einem Datenträger gespeichert) zusätzlich auf einem Notebook installieren.
                    </p>
                    <p>
                        Desweiteren dürfen Sie eine Kopie der Software in maschinenlesbarer Form für Backup-Zwecke
                        herstellen. Eine darüber hinausgehende Vervielfältigung ist unzulässig. Die Software
                        ist urheberrechtlich geschützt und enthält vertrauliche und geschützte Informationen.
                        Sie müssen auf allen Kopien alle Urheberrechtshinweise und andere auf die Vertraulichkeit
                        und sonstige Schutzrechte deutende Hinweise, die auf der Originalkopie der Software
                        von der Hueber Verlags GmbH enthalten sind, anbringen.
                    </p>
                    <p>
                        Mit dem Erwerb der Lizenz zur Nutzung dieser Software erwerben Sie Eigentum nur
                        an dem körperlichen Datenträger, auf dem die Software aufgezeichnet ist. Ein Erwerb
                        von Rechten an der Software selbst ist damit nicht verbunden. Die Hueber Verlags
                        GmbH behält sich insbesondere alle Veröffentlichungs-, Vervielfältigungs-, Bearbeitungs-
                        und Verwertungsrechte an der Software vor. Die Software und das zugehörige Schrift-,
                        Bild-, Ton- und Bewegtbildmaterial sind urheberrechtlich geschützt.
                    </p>
                    <h3>
                        2. Lizenz Chromium</h3>
                    <p>
                        Copyright (c) 2013 The Chromium Authors. All rights reserved.
                    </p>
                    <p>
                        Redistribution and use in source and binary forms, with or without modification,
                        are permitted provided that the following conditions are met:
                    </p>
                    <p class="pl">
                        * Redistributions of source code must retain the above copyright notice, this list
                        of conditions and the following disclaimer.
                    </p>
                    <p class="pl">
                        * Redistributions in binary form must reproduce the above copyright notice, this
                        list of conditions and the following disclaimer in the documentation and/or other
                        materials provided with the distribution.
                    </p>
                    <p class="pl">
                        * Neither the name of Google Inc. nor the names of its contributors may be used
                        to endorse or promote products derived from this software without specific prior
                        written permission.
                    </p>
                    <p class="uppercase">
                        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
                        ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
                        OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
                        SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
                        SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
                        OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
                        HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
                        OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
                        THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
                    </p>
                    <h3>
                        3. Beschränkungen</h3>
                    <p>
                        Sie dürfen Kopien der Software nicht an andere verkaufen, vertreiben oder übertragen
                        oder die Software elektronisch von einem Computer auf einen anderen über ein Netz
                        übertragen. Die Software enthält Betriebsgeheimnisse, und zu deren Schutz dürfen
                        Sie diese nicht dekompilieren und rückassemblieren oder auf andere Weise in allgemein
                        lesbare Form umwandeln. <span class="uppercase">SIE DÜRFEN DIE SOFTWARE NICHT ÄNDERN,
                            ANPASSEN, ÜBERSETZEN, MIETEN ODER VERMIETEN, VERLEIHEN, WIEDERVERKAUFEN, VERTREIBEN
                            ODER HERSTELLEN.</span>
                    </p>
                    <h3>
                        4. Dauer</h3>
                    <p>
                        Diese Lizenz gilt bis zu ihrer Beendigung. Sie endet unverzüglich, ohne dass es
                        einer Kündigung von der Hueber Verlags GmbH bedarf, wenn Sie eine Bestimmung dieses
                        Lizenzvertrages nicht einhalten. Bei Beendigung haben Sie die Software, sowie alle
                        Sicherungskopien davon, zu vernichten. Sie können den Lizenzvertrag jederzeit dadurch
                        beenden, dass Sie die Software, einschließlich aller Kopien davon, vernichten oder
                        vollständig an die Hueber Verlags GmbH zurücksenden.
                    </p>
                    <h3>
                        5. Garantie</h3>
                    <p>
                        Die Hueber Verlags GmbH garantiert für einen Zeitraum von neunzig (90) Tagen ab
                        dem Kaufdatum, dass
                    </p>
                    <p class="pl">
                        – die DVD auf der sich die mitgelieferte Software befindet, unter normalen Einsatzbedingungen
                        frei von Material- und Herstellungsfehlern ist, und
                    </p>
                    <p class="pl">
                        – die Software, so wie sie von der Hueber Verlags GmbH zur Verfügung gestellt wird,
                        den von der Hueber Verlags GmbH publizierten Angaben entspricht.
                    </p>
                    <p>
                        Im Fall einer berechtigten Mängelrüge kann die Hueber Verlags GmbH nach eigener
                        Wahl die DVD und/oder die Software ersetzen oder den Kaufpreis erstatten, wenn die
                        mangelhafte Software mit dem Kaufnachweis an die Hueber Verlags GmbH oder einen
                        Vertragshändler der Hueber Verlags GmbH eingesandt wird.
                    </p>
                    <p>
                        Die Hueber Verlags GmbH macht darauf aufmerksam, dass es nach dem Stand der Technik
                        nicht möglich ist, Computer-Software so zu erstellen, dass sie in allen Anwendungen
                        und Kombinationen fehlerfrei arbeitet. Gegenstand dieser Bestimmungen ist daher
                        nur eine Software, die im Sinne der Programmbeschreibung und der Benutzungsanleitung
                        grundsätzlich brauchbar ist.
                    </p>
                    <p>
                        Ist die Software nicht grundsätzlich brauchbar, so hat der Lizenznehmer das Recht,
                        diesen Lizenzvertrag rückgängig zu machen. Der Kaufpreis wird in diesem Fall zurückerstattet.
                        Weitergehende Ansprüche sind in jedem Fall ausgeschlossen.
                    </p>
                    <h3>
                        6. Haftungsbeschränkungen</h3>
                    <p>
                        Die Hueber Verlags GmbH, sowie deren Repräsentanten und Mitarbeiter haften in keinem
                        Fall für etwaige direkte, indirekt verursachte oder gefolgte Schäden (z. B. Gewinnverlust,
                        Betriebsunterbrechung oder Verluste von Geschäftsinformationen usw.), die, vorhersehbar
                        oder unvorhersehbar, aufgrund der Verwendung oder der Nichtanwendbarkeit der Software
                        oder der begleitenden Dokumentation entstehen, selbst wenn die Hueber Verlags GmbH,
                        ein Distributor, ein Repräsentant oder einer ihrer Mitarbeiter auf die Möglichkeit
                        solcher Schäden hingewiesen wurde. Die Haftung der Hueber Verlags GmbH, eines Distributors,
                        einem Repräsentanten oder einem ihrer Mitarbeiter für direkte Schäden jedweder Ursache
                        und unabhängig von der Art der Aktion ist auf den für die Software bezahlten Preis
                        beschränkt.
                    </p>
                    <p class="uppercase">
                        DIESE BESCHRÄNKUNG TRIFFT IM FALLE VON PERSONENSCHÄDEN NUR DORT UND IN DEM MASSE
                        ZU, WO DAS GELTENDE RECHT DIES VORSIEHT. DA EINIGE GESETZGEBUNGEN DEN AUSSCHLUSS
                        ODER DIE BESCHRÄNKUNG DER HAFTUNG FÜR INDIREKT VERURSACHTE ODER GEFOLGTE SCHÄDEN
                        NICHT ZULASSEN, SIND DIE OBIGEN BESTIMMUNGEN FÜR SIE EVENTUELL NICHT ZUTREFFEND.
                    </p>
                    <h3>
                        7. Änderungen und Aktualisierungen</h3>
                    <p>
                        Die Hueber Verlags GmbH ist berechtigt, Aktualisierungen der Software nach eigenem
                        Ermessen zu erstellen. Diese Aktualisierungen werden kostenpflichtig an die Nutzer
                        abgegeben.
                    </p>
                    <p>
                        Die Hueber Verlags GmbH ist nicht verpflichtet, Aktualisierungen der Software solchen
                        Lizenznehmern zur Verfügung zu stellen, die die Aktualisierungsgebühr nicht bezahlt
                        haben.
                    </p>
                    <h3>
                        8. Sonstiges</h3>
                    <p>
                        © Hueber Verlag GmbH, München, 2014. All rights reserved.
                    </p>
                    <p>
                        Alle verwendeten Warenzeichen sind Eigentum der jeweiligen Inhaber.
                    </p>
                    <p>
                        Dieser Lizenzvertrag unterliegt dem Recht der Bundesrepublik Deutschland. Er enthält
                        sämtliche Vereinbarungen, welche die Parteien hinsichtlich des Vertragsgegenstandes
                        getroffen haben, und ersetzt alle vorhergehenden mündlichen oder schriftlichen Abreden.
                        Dieser Lizenzvertrag bleibt im Zweifel auch bei rechtlicher Unwirksamkeit einzelner
                        Bestimmungen in seinen übrigen Teilen verbindlich. Unwirksame Bestimmungen sind
                        durch Regelungen zu ersetzen, die dem angestrebten Erfolg möglichst nahe kommen.
                    </p>
                    <p>
                        Hueber Verlag GmbH & Co. KG, München
                    </p>
                    <p>
                        (Stand: Februar 2014)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
