<div id="mediaLibraryPage">
    <div style="width: 1024px; height: 768px; margin: auto; background-image: url(/Media/StartScreen/Index.jpg)">
        <div style="position: absolute;width: 1024px;">
            
              <div id="btnCloseMediaLibraryContent" style="left: 95% !important;" class="btnCloseContent btnContainer navigationItem btnCloseContent" >
                        <a id="A1">X</a>
                    </div>
            <div style="margin-top: 50px; margin-left: 485px;">
                <div style="font-size: 32px">
                    Medienbilbliothek</div>
                <div id="mediaLibraryContent">
                   In der Medienbibliothek finden Sie sämtliche Audios, Videos, Bilder, Kopiervorlagen und Tafelbilder nach Lektionen geordnet.
                   Die Medienbibliothek können Sie mithilfe des auf der DigUP-DVD enthaltenen Installationsprogramms jederzeit auf Ihrer Festplatte installieren.

                </div>
            </div>
        </div>
    </div>
</div>
