					<div id="sourceDirectoryPage">
    <div style="width: 1024px; height: 768px; margin: auto; background-image: url(/Media/StartScreen/Index.jpg)">
        <div style="position: absolute; width: 1024px;">
            <div id="btnCloseSourceDirectoryContent" style="left: 95% !important;" class="btnCloseContent btnContainer navigationItem btnCloseContent">
                <a id="A1">X</a>
            </div>
            <div style="margin-top: 50px; margin-left: 485px;">
                <div style="font-size: 32px">
                    Quellenverzeichnis</div>
                <div id="sourceDirectoryContent">
					<p>
						Cover: ©<span>_</span>Getty Images/Image Source
					</p>
					<p>
						Seite 12: Fahnen ©<span>_</span>fotolia/createur
					</p>
					<p>
						Seite 13: von links ©<span>_</span>action&nbsp;press/Henning Schacht; ©<span>_</span>action&nbsp;press/Zuma&nbsp;Press
					</p>
					<p>
						Seite 16: Bildlexikon von links ©<span>_</span>iStockphoto/toddmedia; ©<span>_</span>fotolia/Jonny; ©<span>_</span>iStockphoto/syagci; ©<span>_</span>fotolia/Albert Schleich; 
©<span>_</span>iStockphoto/claudiaveja; ©<span>_</span>iStockphoto/ImageegamI; ©<span>_</span>PantherMedia/Andres Rodriguez
					</p>
					<p>
						Seite 17: Bildlexikon von links ©<span>_</span>irisblende.de; ©<span>_</span>iStockphoto/DianaLundin; ©<span>_</span>iStockphoto/Viorika; ©<span>_</span>irisblende.de; 
©<span>_</span>iStockphoto/goldenKB
					</p>
					<p>
						Seite 18: ©<span>_</span>iStockphoto/TriggerPhoto
					</p>
					<p>
						Seite 21: oben von links ©<span>_</span>fotolia/Galina Barskaya; ©<span>_</span>iStockphoto/JJRD; unten rechts ©<span>_</span>fotolia/Benicce
					</p>
					<p>
						Seite 22: Karte: ©<span>_</span>www.cartomedia-karlsruhe.de; Fahnen ©<span>_</span>fotolia/createur
					</p>
					<p>
						Seite 23: rechts von oben ©<span>_</span>iStockphoto/Ryan Lane; ©<span>_</span>iStockphoto/pink_cotton_candy
					</p>
					<p>
						Seite 24: Clip 1 und 2&nbsp;©<span>_</span>Matthias Kraus, München; Clip 2 und 3 New York ©<span>_</span>Franz Specht, Weßling
					</p>
					<p>
						Seite 25: ©<span>_</span>Getty Images
					</p>
					<p>
						Seite 28: Bildlexikon von links ©<span>_</span>iStockphoto/tiler84; ©<span>_</span>iStockphoto/Luso; ©<span>_</span>iStockphoto/twohumans; ©<span>_</span>iStockphoto/
Carlos Alvarez; ©<span>_</span>iStockphoto/IlexImage
					</p>
					<p>
						Seite 29: Bildlexikon von links ©<span>_</span>iStockphoto/jallfree; ©<span>_</span>iStockphoto/simonkr; ©<span>_</span>iStockphoto/terex; ©<span>_</span>iStockphoto/
sjlocke; 1&nbsp;©<span>_</span>iStockphoto/temniy; 2 Bild ©<span>_</span>digitalstock; Rahmen iStockphoto/winterling; 3&nbsp;©<span>_</span>iStockphoto/Viorika
					</p>
					<p>
						Seite 30: A ©<span>_</span>Corbis/image100; E ©<span>_</span>PantherMedia/Jonathan Ross
					</p>
					<p>
						Seite 32: Bildlexikon von links ©<span>_</span>fotolia/Daniel Burch; ©<span>_</span>iStockphoto/deepblue4you; ©<span>_</span>fotolia/Taffi; ©<span>_</span>iStockphoto/
karandaev; ©<span>_</span>iStockphoto/eldadcarin; 1&nbsp;©<span>_</span>fotolia/Feng Yu; 2&nbsp;©<span>_</span>fotolia/hawi64; 3©<span>_</span>fotolia/Flexmedia; Übung 3b oben von links ©<span>_</span>iStockphoto/pzAxe; ©<span>_</span>fotolia/anna k.; ©<span>_</span>fotolia/April Koehler Übung 3b unten von links ©<span>_</span>iStockphoto/AntiMartina; 
©<span>_</span>iStockphoto/LdF
					</p>
					<p>
						Seite 33: Bildlexikon von links ©<span>_</span>fotolia/Klaus Eppele; ©<span>_</span>iStockphoto/Paula Connelly; ©<span>_</span>iStockphoto/phant; ©<span>_</span>iStockphoto/zentilia; ©<span>_</span>iStockphoto/DesignSensation; Übung 6 von links ©<span>_</span>iStockphoto/AlbertSmirnov; ©<span>_</span>iStockphoto/golovorez; 
©<span>_</span>iStockphoto/TABoomer; ©<span>_</span>fotolia/Kramografie; ©<span>_</span>iStockphoto/AlesVeluscek
					</p>
					<p>
						Seite 34: von links ©<span>_</span>iStockphoto/dja65; Digitaluhr mit freundlicher Genehmigung der Valentin Elektronik GmbH
					</p>
					<p>
						Seite 36: Bildlexikon von links ©<span>_</span>fotolia/Fatman73; ©<span>_</span>MHV-Archiv; ©<span>_</span>iStockphoto/milosluz; ©<span>_</span>MHV-Archiv; ©<span>_</span>iStockphoto/raclro; ©<span>_</span>PantherMedia/Reiner Wuerz; ©<span>_</span>iStockphoto/dcbog
					</p>
					<p>
						Seite 37: Bildlexikon von links ©<span>_</span>fotolia/Michael Möller; ©<span>_</span>iStockphoto/jaroon; ©<span>_</span>iStockphoto/lucato; ©<span>_</span>iStockphoto/chas53; 
©<span>_</span>iStockphoto/nicoblue ; ©<span>_</span>fotolia/Michael Möller; ©<span>_</span>PantherMedia/Dietmar Stübing; ©<span>_</span>iStockphoto/Viktorus
					</p>
					<p>
						Seite 40: Clip 4+5&nbsp;©<span>_</span>Matthias Kraus; Clip 6&nbsp;©<span>_</span>Franz Specht, Weßling
					</p>
					<p>
						Seite 41: oben von links ©<span>_</span>imago/suedraumfoto; ©<span>_</span>imago/fotokombinat; ©<span>_</span>imago/suedraumfoto; unten ©<span>_</span>iStockphoto/phant
					</p>
					<p>
						Seite 44: Bildlexikon von links ©<span>_</span>iStockphoto/Jan-Otto; ©<span>_</span>digitalstock/Baum; ©<span>_</span>iStockphoto/NickS; ©<span>_</span>fotolia/Franz Pfluegl; 
©<span>_</span>iStockphoto/attator; ©<span>_</span>PantherMedia/Thomas Lammeyer; ©<span>_</span>iStockphoto/hidesy; 1&nbsp;©<span>_</span>PantherMedia/Alexander Rochau; 
2&nbsp;©<span>_</span>PantherMedia/Jenny Sturm; 3&nbsp;©<span>_</span>iStockphoto/NejroN; 4&nbsp;©<span>_</span>fotolia/Simone van den Berg; 5&nbsp;©<span>_</span>iStockphoto/jimd_stock; 
6&nbsp;©<span>_</span>fotolia/JackF; 7&nbsp;©<span>_</span>PantherMedia/Edward Bock; 8&nbsp;©<span>_</span>fotolia/Galina Barskaya; 9&nbsp;©<span>_</span>fotolia/Jacek 
Chabraszewski; 10&nbsp;©<span>_</span>iStockphoto/andyross
					</p>
					<p>
						Seite 45: Bildlexikon von links ©<span>_</span>fotolia/Thomas Oswald; ©<span>_</span>fotolia/Talex; ©<span>_</span>iStockphoto/tacojim; ©<span>_</span>iStockphoto/anouchka; 
©<span>_</span>fotolia/Monkey Business; ©<span>_</span>iStockphoto/bluestocking; ©<span>_</span>iStockphoto/trait2lumiere
					</p>
					<p>
						Seite 47: unten von links ©<span>_</span>iStockphoto/drbimages; ©<span>_</span>iStockphoto/keeweeboy
					</p>
					<p>
						Seite 48: Bildlexikon von links ©<span>_</span>digitalstock/A. Lubba; ©<span>_</span>iStockphoto/luoman; ©<span>_</span>iStockphoto/mpalis; ©<span>_</span>iStockphoto/kgelati1; 
©<span>_</span>iStockphoto/Franky De Meyer; ©<span>_</span>pitopia/David Büttner
					</p>
					<p>
						Seite 49: Bildlexikon von links ©<span>_</span>iStockphoto/Editorial12; ©<span>_</span>iStockphoto/Cimmerian; ©<span>_</span>iStockphoto/manley099; 
©<span>_</span>iStockphoto/alicat; ©<span>_</span>digitalstock; Übung 6 von links ©<span>_</span>iStockphoto/drbimages; ©<span>_</span>fotolia/Bobby Earle
					</p>
					<p>
						Seite 52: Bildlexikon von links ©<span>_</span>iStockphoto/jerryhat; ©<span>_</span>iStockphoto/PLAINVIEW; ©<span>_</span>PantherMedia/Doris Heinrichs; 
©<span>_</span>iStockphoto/monica-photo; ©<span>_</span>fotolia/Aleksejs Pivnenko; ©<span>_</span>fotolia/gtranquillity; ©<span>_</span>iStockphoto/adlife-marketing; 
©<span>_</span>iStockphoto/Anna Sedneva
					</p>
					<p>
						Seite 53: Bildlexikon von links ©<span>_</span>iStockphoto/RedHelga; ©<span>_</span>fotolia/seen; ©<span>_</span>iStockphoto/duncan1890; ©<span>_</span>fotolia/Olga Patrina; 
©<span>_</span>iStockphoto/Laks-Art; ©<span>_</span>fotolia/Tomboy2290; ©<span>_</span>fotolia/sumnersgraphicsinc; ©<span>_</span>fotolia/Birgit Reitz-Hofmann; 
Würfel ©<span>_</span>iStockphoto/arakonyunus
					</p>
					<p>
						Seite 54: oben von links ©<span>_</span>fotolia/Christa Eder; ©<span>_</span>Stockfood/Iden; Mitte von links ©<span>_</span>Stockfood/Bischof; ©<span>_</span>PantherMedia/Bernd Jürgens; unten von links ©<span>_</span>iStockphoto/HHLtDave5; ©<span>_</span>fotolia/Svenja98
					</p>
					<p>
						Seite 55: rechts von oben ©<span>_</span>fotolia/Mareen Friedrich; ©<span>_</span>fotolia/fredredhat; ©<span>_</span>action press/Everett Collection
					</p>
					<p>
						Seite 56: Clip 7-9&nbsp;©<span>_</span>Matthias Kraus
					</p>
					<p>
						Seite 57: oben von links ©<span>_</span>iStockphoto/stockcam; ©<span>_</span>iStockphoto/Pumpa1; ©<span>_</span>fotolia/Carmen Steiner; unten ©<span>_</span>iStockphoto/
donstock; Fahnen ©<span>_</span>fotolia/createur
					</p>
					<p>
						Seite 58: ©<span>_</span>Franz Specht, Weßling
					</p>
					<p>
						Seite 60: Bildlexikon von links ©<span>_</span>iStockfoto/gmutlu; ©<span>_</span>fotolia/Daniel Hohlfeld; ©<span>_</span>iStockphoto/Leonsbox; ©<span>_</span>colourbox.com; 
©<span>_</span>iStockphoto/Steve Mcsweeny; ©<span>_</span>Deutsche Bahn AG/Claus Weber; ©<span>_</span>PantherMedia/Robert Neumann; 
©<span>_</span>iStockphoto/JVT
					</p>
					<p>
						Seite 61: Bildlexikon von links ©<span>_</span>fotolia/Ilja Mašík; ©<span>_</span>iStockphoto/LordRunar; ©<span>_</span>PantherMedia/Detlef Schneider; 
©<span>_</span>fotolia/Carmen Steiner; ©<span>_</span>iStockphoto/stasvolik; ©<span>_</span>fotolia/adisa; ©<span>_</span>iStockphoto/ollo
					</p>
					<p>
						Seite 68: A ©<span>_</span>fotolia/El Gaucho; B ©<span>_</span>fotolia/Heinz Waldukat; C ©<span>_</span>dpa Picture-Alliance/DeFodi; D ©<span>_</span>action press/Peter Lehner
					</p>
					<p>
						Seite 69: oben ©<span>_</span>iStockphoto/Jacom Stephens; unten ©<span>_</span>PantherMedia/Rafael Angel Irusta Machin
					</p>
					<p>
						Seite 70: oben von links ©<span>_</span>fotolia/margelatu florina; ©<span>_</span>fotolia/sonne Fleckl; unten von links ©<span>_</span>iStockphoto/konradlew; 
©<span>_</span>PantherMedia/Daniel Schoenen
					</p>
					<p>
						Seite 71: Reisefotos ©<span>_</span>Franz Specht, Weßling (3)
					</p>
					<p>
						Seite 72: Clip 10&nbsp;©<span>_</span>Franz Specht, Weßling; Clip 11&nbsp;©<span>_</span>Matthias Kraus; Clip 12 A-C ©<span>_</span>Iciar Caso, Weßling; D ©<span>_</span>Franz Specht, 
Weßling
					</p>
					<p>
						Seite 73: oben von links ©<span>_</span>colourbox; ©<span>_</span>Gunnar Knechtel/laif; ©<span>_</span>digitalstock; ©<span>_</span>Caro/Amruth; Übung 2 von oben 
©<span>_</span>iStockphoto/aprott; ©<span>_</span>F1online
					</p>
					<p>
						Seite 74: ©<span>_</span>fotolia/dpaint
					</p>
					<p>
						Seite 78: oben ©<span>_</span>iStockphoto/simonbradfield; 1&nbsp;©<span>_</span>fotolia/kameraauge; 2&nbsp;©<span>_</span>iStockphoto/schmidt-z; 3&nbsp;©<span>_</span>PantherMedia/
Jens Nieswandt
					</p>
					<p>
						Seite 80: Bildlexikon von links ©<span>_</span>PantherMedia/Andreas Jung; ©<span>_</span>fotolia/Baumeister; ©<span>_</span>PantherMedia/Hans Pfleger; 
©<span>_</span>fotolia/Mike Kiev; ©<span>_</span>fotolia/Manuel Ribeiro; ©PantherMedia/Andreas Jung; unten ©<span>_</span>PantherMedia/Rita Maaßen 
					</p>
					<p>
						Seite 81: Bildlexikon von links ©<span>_</span>iStockphoto/Tree4Two; ©<span>_</span>PantherMedia/Andreas Jung; ©<span>_</span>iStockphoto/suprun (3)
					</p>
					<p>
						Seite 83: A ©<span>_</span>imago/Werner Otto; ©<span>_</span>iStockphoto/jcarillet; B ©<span>_</span>PantherMedia/Holger Saupe; ©<span>_</span>iStockphoto/fenlan1976; 
C ©<span>_</span>PantherMedia/Fritz Nathalie; ©<span>_</span>iStockphoto/jophil; D ©<span>_</span>Herbert Wünstel, Hatzenbühl–www.g28.de; ©<span>_</span>panther-
media.net/Walter Korinek; E ©<span>_</span>PantherMedia/Federico Belotti; ©<span>_</span>digitalstock ; F ©<span>_</span>Pia Malmus, Kassel; ©<span>_</span>iStockphoto/jophil
					</p>
					<p>
						Seite 84: Bildlexikon von links ©<span>_</span>PantherMedia/Erich Teister; ©<span>_</span>PantherMedia/Michael Kupke; ©<span>_</span>fotolia/Ralf Gosch; 
©<span>_</span>fotolia/view7; ©<span>_</span>digitalstock; ©<span>_</span>iStockphoto/Grafissimo; ©<span>_</span>iStockphoto/xyno; links ©<span>_</span>Pitopia/Val Thoermer; rechts von oben ©<span>_</span>iStockphoto/BenGoode; ©<span>_</span>iStockphoto/Inga Nielsen; ©<span>_</span>iStockphoto/Grafissimo; ©<span>_</span>fotolia/Composer
					</p>
					<p>
						Seite 85: Bildlexikon von links ©<span>_</span>PantherMedia/Colette Planken-Kooij; ©<span>_</span>fotolia/blue-images.net; ©<span>_</span>digitalstock/Q-Art; 
©<span>_</span>PantherMedia/Martina Berg; ©<span>_</span>iStockphoto/Nikada
					</p>
					<p>
						Seite 87: oben ©<span>_</span>iStockphoto/Valua Vitaly; von links ©<span>_</span>iStockphoto/Stephan Hoerold; ©<span>_</span>PantherMedia/Kerstin Röcker; 
©<span>_</span>Pitopia/clearlens; ©<span>_</span>Wolf-Dieter Schoof, München – www.urasenke-muenchen.de; ©<span>_</span>iStockphoto/ronaldino3001
					</p>
					<p>
						Seite 88: Clip 13-15&nbsp;©<span>_</span>Matthias Kraus
					</p>
					<p>
						Seite 89: oben ©<span>_</span>PantherMedia/Yuri Arcurs; Mitte ©<span>_</span>PantherMedia/Ingeborg Knol (2); unten von links ©<span>_</span>ullstein bild/Kujath; ©<span>_</span>PantherMedia/Ingeborg Knol
					</p>
					<p>
						Seite 90: von links ©<span>_</span>PantherMedia/Simone Wunderlich; ©<span>_</span>PantherMedia/Monika Lache; Silhouetten ©<span>_</span>iStockphoto/Leontura
					</p>
					<p>
						Seite 100: Bildlexikon von links ©<span>_</span>iStockphoto/STEVECOLEccs; ©<span>_</span>digitalstock; ©<span>_</span>iStockphoto/idal; ©<span>_</span>digitalstock; ©<span>_</span>fotolia/Jürgen Fälchle; ©<span>_</span>iStockphoto/lenad-photography; ©<span>_</span>PantherMedia/tom scherber
					</p>
					<p>
						Seite 101: Bildlexikon von links ©<span>_</span>fotolia/Sandor Jackal; ©<span>_</span>PantherMedia/Monkeybusiness Images; ©<span>_</span>PantherMedia/Dieter Beselt; ©<span>_</span>PantherMedia/Brigitte Götz; ©<span>_</span>fotolia/PhotoSG; rechts von oben ©<span>_</span>iStockphoto/kentarcajuan; 
©<span>_</span>iStockphoto/ivstiv
					</p>
					<p>
						Seite 104: Clip 16+17&nbsp;©<span>_</span>Franz Specht, Weßling; Clip 18&nbsp;©<span>_</span>Matthias Kraus
					</p>
					<p>
						Seite 105: von oben ©<span>_</span>PantherMedia/Elena Elisseeva; ©<span>_</span>PantherMedia/Yuri Arcurs; ©<span>_</span>PantherMedia/Elena Elisseeva
					</p>
					<p>
						Seite 106: ©<span>_</span>imago/Hubert Jelinek
					</p>
					<p>
						Seite 114: ©<span>_</span>Pitopia/Walter Korine
					</p>
					<p>
						Seite 116: ©<span>_</span>iStockphoto/sturti
					</p>
					<p>
						Seite 119: oben ©<span>_</span>action press/Peter von Stamm; Adem ©<span>_</span>PantherMedia/Luis Santos; Marlies ©<span>_</span>PantherMedia/
Yuri Arcurs; Markus ©<span>_</span>iStockphoto/Brightrock
					</p>
					<p>
						Seite 120: Bach ©<span>_</span>MHV-Archiv; Clip 19&nbsp;©<span>_</span>Matthias Kraus; Clip 20+21&nbsp;©<span>_</span>Franz Specht, Weßling
					</p>
					<p>
						Seite 121: ©<span>_</span>ddp images/dapd
					</p>
					<p>
						Seite 122: ©<span>_</span>iStockphoto/Theresa Tibbetts
					</p>
					<p>
						Seite 124: Bildlexikon von links ©<span>_</span>PantherMedia/Ruth Black; ©<span>_</span>iStockphoto/cookelma; ©<span>_</span>iStockphoto/ARSEL A; 
©<span>_</span>iStockphoto/sumnersgraphicsinc; ©<span>_</span>iStockphoto/lepas2004; ©<span>_</span>fotolia/Alexandra Karamyshev; ©<span>_</span>Pitopia/PeJo; 
©<span>_</span>fotolia/Alexandra Karamyshev
					</p>
					<p>
						Seite 125: Bildlexikon von links ©<span>_</span>fotolia/Alexandra Karamyshev; ©<span>_</span>PantherMedia/Andreas Münchbach; ©<span>_</span>fotolia/
Alexandra Karamyshev; ©<span>_</span>iStockphoto/Pakhnyushchyy; ©<span>_</span>iStockphoto/dendong; ©<span>_</span>iStockphoto/kycstudio; ©<span>_</span>iStockphoto/cookelma; T-Shirts ©<span>_</span>iStockphoto; unten ©<span>_</span>MHV-Archiv
					</p>
					<p>
						Seite 128: Bildlexikon von links ©<span>_</span>iStockphoto/ooyoo; ©<span>_</span>PantherMedia/Jenny Sturm; ©<span>_</span>fotolia/Stas Perov; ©<span>_</span>iStockphoto/
konradlew; ©<span>_</span>digitalstock; ©<span>_</span>PantherMedia/Liane Matrisch; von oben ©<span>_</span>iStockphoto/Stockphoto4u; ©<span>_</span>iStockphoto/AmpH; 
©<span>_</span>PantherMedia/Nicole Schröder; ©<span>_</span>ddp images/AP
					</p>
					<p>
						Seite 129: Bildlexikon von links ©<span>_</span>iStockphoto/clintspencer; ©<span>_</span>fotolia/sellingpix; ©<span>_</span>fotolia/kathik; ©<span>_</span>fotolia/Andrzej Tokarski; Thermometer ©<span>_</span>iStockphoto/Mervana; Windrose ©<span>_</span>fotolia/Dirk Schumann; unten ©<span>_</span>fotolia/Uzi Tzur
					</p>
					<p>
						Seite 135: von links ©<span>_</span>PantherMedia/Yuri Arcurs; ©<span>_</span>iStockphoto/asiseeit
					</p>
					<p>
						Seite 136: ©<span>_</span>Franz Specht, Weßling (9)
					</p>
					<p>
						Seite 138: oben von links ©<span>_</span>iStockphoto/evirgen; ©<span>_</span>iStockphoto/eliandric; unten ©<span>_</span>fotolia/Stefan Körber
					</p>
					<p>
						Seite 141: von oben ©<span>_</span>action press/Henning Schacht; ©<span>_</span>SuperStock/Getty Images; ©<span>_</span>Joseph Carl Stieler/Bridgeman/Getty 
Images; ©<span>_</span>iStockphoto/Grafissimo; ©<span>_</span>Süddeutsche Zeitung Photo/Rue des Archives; ©<span>_</span>action press/Zuma Press; ©<span>_</span>dpa Picture-Alliance/Franz Hubmann; ©<span>_</span>action press/Zuma Press; Karte ©<span>_</span>www.cartomedia-karlsruhe.de
					</p>
					<p>
						Seite 143: von oben ©<span>_</span>action press/Henning Schacht; ©<span>_</span>SuperStock/Getty Images; ©<span>_</span>Joseph Carl Stieler/Bridgeman/Getty 
Images; ©<span>_</span>iStockphoto/Grafissimo; ©<span>_</span>Süddeutsche Zeitung Photo/Rue des Archives; ©<span>_</span>action press/Zuma Press; ©<span>_</span>dpa Picture-Alliance/Franz Hubmann; ©<span>_</span>action press/Zuma Press
					</p>
					<p>
						Seite 144: von oben ©<span>_</span>PantherMedia/Radka Linkova; ©<span>_</span>iStockphoto/PinkTag; ©<span>_</span>iStockphoto/Neustockimages; 
©<span>_</span>iStockphoto/shmackyshmack; ©<span>_</span>iStockphoto/RichVintage; ©<span>_</span>PantherMedia/Günter Elbers
					</p>
					<p>
						Seite 145: oben von links ©<span>_</span>fotolia/Stockcity; ©<span>_</span>iStockphoto/YangYin; ©<span>_</span>iStockphoto/mandj98; ©<span>_</span>fotolia/runzelkorn; 
©<span>_</span>iStockphoto/scibak; Mitte ©<span>_</span>fotolia/runzelkorn, unten von links ©<span>_</span>iStockphoto/mandj98; ©<span>_</span>iStockphoto/YangYin; 
©<span>_</span>fotolia/Stockcity; ©<span>_</span>iStockphoto/scibak
					</p>
					<p>
						Seite 148: von oben ©<span>_</span>PantherMedia/Radka Linkova; ©<span>_</span>iStockphoto/PinkTag; ©<span>_</span>iStockphoto/Neustockimages; 
©<span>_</span>iStockphoto/shmackyshmack; ©<span>_</span>iStockphoto/RichVintage; ©<span>_</span>PantherMedia/Günter Elbers
					</p>
					<p>
						Seite 149: von links ©<span>_</span>PantherMedia/Kati Neudert; ©<span>_</span>PantherMedia/Kati Neudert; ©<span>_</span>iStockphoto/MmeEmil; 
©<span>_</span>fotolia/contrastwerkstatt
					</p>
					<p>
						Seite 150: ©<span>_</span>fotolia/Kayros Studio
					</p>
					<p>
						Seite 152: von links ©<span>_</span>PantherMedia/Kati Neudert; ©<span>_</span>PantherMedia/Kati Neudert; ©<span>_</span>iStockphoto/MmeEmil; 
©<span>_</span>fotolia/contrastwerkstatt
					</p>
					<p>
						Seite 156: von links ©<span>_</span>iStockphoto/Plesea Petre; ©<span>_</span>PantherMedia/Elmar Tomasi; ©<span>_</span>iStockphoto/Ljupco
					</p>
					<p>
						Seite 161: von oben ©<span>_</span>iStockphoto/sculpies; ©<span>_</span>iStockphoto/Mlenny; ©<span>_</span>PantherMedia/Dagmar Richardt; ©<span>_</span>fotolia/Stefan Höhnisch; ©<span>_</span>PantherMedia/Gojaz Alkimson
					</p>
					<p>
						Seite 162: ©<span>_</span>iStockphoto/Kemter
					</p>
					<p>
						Seite 163: von links ©<span>_</span>fotolia/Ralf Gosch; ©<span>_</span>fotolia/view7; ©<span>_</span>digitalstock; ©<span>_</span>iStockphoto/Grafissimo; ©<span>_</span>iStockphoto/xyno
					</p>
					<p>
						Seite 166: 1. Reihe von links ©<span>_</span>iStockphoto/BenGoode; ©<span>_</span>fotolia/Composer; ©<span>_</span>iStockphoto/Inga Nielsen; 2. Reihe von links 
©<span>_</span>iStockphoto/cbarnesphotography; ©<span>_</span>fotolia/MF-Media.de; 3. Reihe ©<span>_</span>fotolia/gandolf; 4. Reihe von links ©<span>_</span>fotolia/
gipfelstuermer; ©<span>_</span>PantherMedia/Jens Lehmberg; ©<span>_</span>iStockphoto/rotofrank; 5. Reihe ©<span>_</span>iStockphoto/Orientaly; 6. Reihe von links ©<span>_</span>fotolia/mahey; ©<span>_</span>iStockphoto/Sisoje
					</p>
					<p>
						Seite 167: von links ©<span>_</span>fotolia/Ralf Gosch; ©<span>_</span>fotolia/view7; ©<span>_</span>digitalstock; ©<span>_</span>iStockphoto/Grafissimo; ©<span>_</span>iStockphoto/xyno
					</p>
					<p>
						Seite 170: 1. Spalte von oben ©<span>_</span>iStockphoto/deepblue4you; ©<span>_</span>iStockphoto/milosluz; ©<span>_</span>iStockphoto/fjdelvalle; ©<span>_</span>iStockphoto/
digitalr; ©<span>_</span>iStockphoto/claylib; ©<span>_</span>iStockphoto/ajt; ©<span>_</span>iStockphoto/peepo; 2. Spalte von oben ©<span>_</span>iStockphoto/golovorez; 
©<span>_</span>fotolia/Fatman73; ©<span>_</span>iStockphoto/mgkaya; ©<span>_</span>fotolia/Klaus Eppele; ©<span>_</span>iStockphoto/SilentWolf; ©<span>_</span>PantherMedia/Kati Neudert; ©<span>_</span>iStockphoto/H-Gall; 3. Spalte von oben ©<span>_</span>fotolia/Scott Griessel; ©<span>_</span>iStockphoto/eldadcarin; ©<span>_</span>iStockphoto/
monkeybusinessimages; ©<span>_</span>iStockphoto/MarcusPhoto1; ©<span>_</span>PantherMedia/Georg Niederkofler
					</p>
					<p>
						Seite 175: von oben ©<span>_</span>fotolia/PictureP; ©<span>_</span>iStockphoto/BenGoode
					</p>
					<p>
						Seite 176: T-Shirt ©<span>_</span>iStockphoto; Band ©<span>_</span>iStockphoto/Roob
					</p>
					<p>&nbsp;</p>
					<p>
						Alle übrigen Fotos: Florian Bachmeier, München
					</p>
				</div>
            </div>
        </div>
    </div>
</div>