<div id="supportPage">
    <div style="width: 1024px; height: 768px; margin: auto; background-image: url(/Media/StartScreen/Index.jpg)">
        <div style="position: absolute; width: 1024px;">
            <div id="btnCloseSupportContent" style="left: 95% !important;" class="btnCloseContent btnContainer navigationItem btnCloseContent">
                <a id="A1">X</a>
            </div>
            <div style="margin-top: 50px; margin-left: 485px;">
                <div style="font-size: 32px">
                    Support</div>
                <div id="supportContent">
                    <h3>
                        Support/Hotline:</h3>
                    <p>
                        Bei auftretenden Problemen wenden Sie sich bitte an unseren Support:<br />
                        <a href="http://support.hueber.de" target="_blank">http://support.hueber.de</a><br />
                        oder per Telefon unter (089) 9602 353
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
