<div id="textElement_panel" class="tools_panel">
    <br/>
    <h1>Editor</h1>
    <br/>
    <h4 id="textElement_desciption">Erstellen Sie ein neues Textelement</h4>
    <hr/>
    <div id="textElement_content_bag">
        <div id="textElement_content">
            <div class="tools_panel_content_entry disabled">
                <h4 id="ownTextElements_headline">MEINE TEXTELEMENTE</h4>
                <div id="ownTextElements"></div>
                <div class="clear"></div>
            </div>
            <div class="tools_panel_content_entry">
                <h4 id="create_own_textElement_btn">NEUES TEXTELEMENT ERSTELLEN <div class="textIcon" id="create_own_textElement_btn_icon"><a>*</a></div></h4>
            </div>
            <div class="tools_panel_content_entry disabled">
                <h4 id="configure_textElement_btn">LISTE BEARBEITEN <div class="textIcon" id="configure_textElement_btn_icon"><a>©</a></div></h4>
                <h4 id="end_configure_textElement_btn" style="display: none;">FERTIG <div class="textIcon"><a>c</a></div></h4>
            </div>  
        </div>
    </div>
</div>
