<div id="workSheet_panel" class="tools_panel">
    <br/>
    <h1>Arbeitsblatt</h1>
    <br/>
    <h4 id="workSheet_desciption">Erstellen Sie ein neues Arbeitsblatt.</h4>
    <hr/>
    <div id="workSheet_content_bag">
        <div id="workSheet_content">
            <div class="tools_panel_content_entry disabled">
                <h4 id="ownWorkSheets_headline">MEINE ARBEITSBLÄTTER</h4>
                <div id="ownWorkSheets"></div>
                <div class="clear"></div>
            </div>
            <div class="tools_panel_content_entry">
                <h4 id="create_own_workSheet_btn">NEUES ARBEITSBLATT ERSTELLEN <div class="textIcon" id="create_own_workSheet_btn_icon"><a>*</a></div></h4>
            </div>
            <div class="tools_panel_content_entry disabled">
                <h4 id="configure_workSheet_btn">LISTE BEARBEITEN <div class="textIcon" id="configure_workSheet_btn_icon"><a>©</a></div></h4>
                <h4 id="end_configure_workSheet_btn" style="display: none;">FERTIG <div class="textIcon"><a>c</a></div></h4>
            </div>  
        </div>
    </div>
</div>
